/* Write your CSS code here */
.about-con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-head {
  color: #551e53;
  font-family: 'Roboto';
}

.about-para {
  color: #555555;
  font-family: 'Roboto';
}
